<%=javascript_pack_tag 'page' %>
<%=stylesheet_pack_tag 'page' %>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<div id="app">
    <h2>リスト:</h2>
    <ul class="list-group">
        <li class="list-group-item" v-for="(todo,index) in todos" :key="index">
            {{ todo.text }}
        </li>
    </ul>
    <infinite-loading @infinite="infiniteHandler"></infinite-loading>
</div>

<style>

</style>
