<%= javascript_pack_tag 'app' %>
<%= stylesheet_pack_tag 'app' %>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    select {
        width: 100px;
        margin: 20px;
    }

    .my-container {
        width: 400px;
        height: 400px;
        margin: auto;
        background-color: #dbdbd9;
        margin-top: 200px;
    }

    .content {

        text-align: center;
        margin: auto;
        margin-top: 30px;
    }

    .blank {
        margin: 20px;
    }
</style>
<div class="my-container">
    <div class="container" id="app">
        <br>

        <div class="content">

            <div>タイトル:{{django.data.title}}</div>
            <div class="blank">内容：{{django.data.body}}</div>
            <div>{{django.data.author.name}}</div>
            <div class="blank">{{django.data.author.mail}}</div>


            <div v-if="isActive"></div>
            <div v-else>

            </div>
            <select @click="search" v-model="section">
                <option v-for="section in sections" :value="section">{{ section }}</option>
            </select>
            <br>

            <button class="btn btn-primary" type="submit" @click="active">データを取得</button>
        </div>

    </div>
</div>
